<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
	<head>
		<title> TOHRU </title>
		<link rel="stylesheet" type="text/css" href="stylesheets/tohru.css">
	</head>
	<body>
		<div class="logomain">
			<img class="logoimg" src="./images/TOHRU_Hand_crop.png" height=80>
			<div class="logotext">
				<div class="logotitle">
					TOHRU - Trace Online
				</div>
				<div class="logobottom">
					Hand Raising Utility
				</div>
			</div>
		</div>

		<h1>WELCOME TO TOHRU</h1>
		<br/>
		<br/>
		<h1> To Enter a Meeting: </h1>
		<div class="indent">
			<form action="old/meeting" method="get">
			<p>
				Meeting ID:
				<br/>
				<input class="entryfield" type="text" id="meetingfield" name="meeting">
			</p>
			<p>
				Your Name (plus affiliation):
				<br/>
				<input class="entryfield" type="text" id="namefield" name="name">
				<input type="hidden" name="ID" value="XXXXRANDOMIDXXXX">
			</p>
			<p>
				<input type="submit" value="Enter as Participant">
			</p>
			</form>
			<br/>
			<br/>
			<p>
				TOHRU is a hand-raising utility created by the Trace Center (U of Wisconsin) and hosted by the Raising the Floor Consortium. It is free to use but contributions are welcome. Versions that can operate behind firewalls are available.
			</p>
		</div>
	</body>
</html>